html body{
  overflow-x: hidden;
}

.transition-master{
  position: relative;
}

.transition-master section{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

}

.transition-master.forward .fade-appear,
.transition-master.forward .fade-enter {
  margin-left:150%;
  z-index: 1;
}
.transition-master.forward .fade-appear-active,
.transition-master.forward .fade-enter.fade-enter-active {
  margin-left: 0;
  transition: all 500ms;
}

.transition-master.forward .fade-exit {
  margin-left:0;
}

.transition-master.forward .fade-exit.fade-exit-active {
  margin-left:-150%;
  transition: all 500ms linear;
}


.transition-master.back .fade-appear,
.transition-master.back .fade-enter {
  margin-left:-150%;
  z-index: 1;
}
.transition-master.back .fade-appear-active,
.transition-master.back .fade-enter.fade-enter-active {
  margin-left: 0;
  transition: all 500ms;
}

.transition-master.back .fade-exit {
  margin-left:0;
}

.transition-master.back .fade-exit.fade-exit-active {
  margin-left:150%;
  transition: all 500ms linear;
}